$font-size-date-small: 0.9rem;

%jumbo {
    margin: 3px;
}

.card-body {
    .mb-1 {
        font-size: $font-size-date-small;
    }
}

.jumbotron > .row {
    @extend %jumbo;
}

.nav-scroller {
    font-size: 1.04rem;
}
  
.nav > .text-muted:hover {
    font-weight: 550;
}

@media (max-width: 500px) {
    #search-icon, #subscribe, #sign-up{
        display: none;
    }
}

.card-body > .mb-2 {
    text-transform: uppercase;
}

  